<form action="/api/user" method="POST" class="form">
  <div class="form-group mb-3">
    <label for="inputName" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="inputName"
      required
      placeholder="Enter Name"
      name="name"
    />
  </div>

  <div class="mb-3 form-group">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      required
      placeholder="Enter Email"
      name="email"
    />
  </div>

  <div class="mb-3 form-group">
    <label for="inputGender" class="form-label">Gender</label>
    <select class="form-select" aria-label="Default select example" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>

  <div class="mb-3 form-group">
    <label for="inputGender" class="form-label">Status</label>
    <select class="form-select" aria-label="Default select example" name="status">
      <option value="Active">Active</option>
      <option value="InActive">Inactive</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
