<%- include('partials/header') -%>

<div class="add-user">
  <div class="container">
    <div class="box-nav d-flex-justify-between py-3">
      <h3>Add User Details</h3>
    </div>

    <%- include('partials/add-user-form') -%>
  </div>
</div>

<%- include('partials/footer') -%>
